<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/css/my_style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
</script>
<script src="/assets/javascript/my_javascript.js"></script>
</head>
<body>
<p>Where you want to go</p>
<edge node1="19,23" node2="19,24" wall="fish" floor="concrete"></edge>
<form action="/judge/" method="get">
    instruct: <input type="text" id="instruction" name="instruction"> <br>

    <p>result: <span id='result'></span></p>
    <button type="button" id='judge'>submit</button>


</form>


<select id="map_select">
  <option value ="map_one">map_one</option>
  <option value ="map_jelly">map_jelly</option>
  <option value="map_grid">map_grid</option>
</select>
<br/>
<img src="/assets/images/signs.png"/>
<canvas id="map" height="400" width="400" ></canvas>

<div id="matrix">
</div>
<div id="data">

</div>
</body>
</html>