<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="/assets/css/my_style.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js">
</script>
<script src="/assets/javascript/my_javascript.js"></script>
</head>
<body>
<p>请输入两个数字</p>
<form action="/judge/" method="get">
    instruct: <input type="text" id="instruction" name="instruction"> <br>

    <p>result: <span id='result'></span></p>
    <button type="button" id='judge'>submit</button>

    <div id="dict">Ajax 加载字典</div>
    <p id="dict_result"></p>

    <div id="list">Ajax 加载列表</div>
    <p id="list_result"></p>
</form>

<button type="button" id='show'>show map</button>
<br/>
<div id="node"></div>
<canvas id="map" height="800" width="800" ></canvas>
</body>
</html>